header {
  &.main {
    float: left;
    margin: 20px 0;
    position: relative;
    width: 100%;

    .logo {
      img {
        width: 100%;
      }
    }
  }
}

.header-container {
  background-color: $header-bg;
}
