@include breakpoint($mobile-breakpoint) {
  .search-toolbar {
    padding: 10px 5%;

    .browse, .search {
      @include span(4 of 4 rtl last);
    }

    form {
      @include span(2 of 4 rtl last);
    }

    img {
      @include span(2 of 4);
    }
  }
}

@include breakpoint($mobile-and-tablet-breakpoint) {
  .browse {
    margin-bottom: 20px;
    text-align: center;
  }
}

@include breakpoint($tablet-breakpoint) {
  .search-toolbar {
    padding: 10px 10%;

    .browse, .search {
      @include span(10 of 10 rtl last);
    }

    form {
      @include span(4 of 10 rtl last);
    }

    img {
      @include span(4 of 10);
      @include pre(1 of 10);
    }
  }
}

@include breakpoint($desktop-breakpoint) {
  .search-toolbar {
    padding: 10px 6%;

    a {
      margin-right: 10px;
    }

    a, form, img {
      float: left;
    }

    form {
      @include span(3 of 12 rtl last);
    }

    img {
      margin: -10px 25px -10px 0;
    }

    .browse {
      white-space: nowrap;
    }
  }
}